// these are the HDMI pins!
// in NP pairs
//TXC
IO_LOC "lcd[0]" 27;
IO_LOC "lcd[1]" 28;
//TX0
IO_LOC "lcd[2]" 29;
IO_LOC "lcd[3]" 30;
//TX1
IO_LOC "lcd[4]" 31;
IO_LOC "lcd[5]" 32;
//TX2
IO_LOC "lcd[6]" 34;
IO_LOC "lcd[7]" 35;

//Buttons
IO_LOC "key" 15;
IO_LOC "rst" 14;

IO_LOC "led" 10;
IO_LOC "clk" 45;

// true LVDS pins
IO_LOC "tlvds_p" 35,34;
